# This is an example of a local zshrc file. It should include any additional
# configurations that you want specific to a machine. This file should go in
# your home directory as ~/.zshrc.local.

DEFAULT_USER="foobar" # Set default username.

# Set special path
export PATH=$PATH:~/special-binaries/

# Setup Golang
# export GOROOT=
# export GOPATH=
# export PATH=...gopath/bin:goroot/bin

# aliases
