[submodule "new_machine/gnome-terminal-colors-solarized"]
	path = new_machine/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "new_machine/fonts"]
	path = new_machine/fonts
	url = https://github.com/powerline/fonts.git
[submodule "editor/vim/bundle/Vundle.vim"]
	path = editor/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "shell/zsh/zsh-autosuggestions"]
	path = shell/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "shell/zsh/zsh-syntax-highlighting"]
	path = shell/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "shell/tmux-power"]
	path = shell/tmux-power
	url = git@github.com:wfxr/tmux-power.git
